@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

#title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 2em;
}

#subtitle {
  font-family: "Lato", sans-serif;
  padding: 4rem;
  padding-bottom: 6rem;
  font-size: 1em;
  line-height: 1.5rem;
  margin-top: -50px;
}

.header {

  text-align: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;
}

.inner-header {
  height: 5vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: row wrap;
  overflow-x: hidden;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  #title {
    font-size: 1em;
  }
}

@media (min-width: 1000px) {
  #subtitle {
    margin-top: -100px;
    margin-bottom: 100px;
    margin-right: 5rem;
    justify-content: end;
    align-items: end;
    text-align: end;
  }
  #title {
    margin-left: -10rem;
  }
}

@media (min-width: 1400px) {
  #subtitle {
    margin-top: -100px;
    margin-bottom: 100px;
    margin-right: 10rem;
    justify-content: end;
    align-items: end;
    text-align: end;
  }
  #title {
    margin-left: -20rem;
  }
}
